<style>
  .booking-table {
    width: 100%;
    text-align: center;
  }
</style>

<p>
  <ngb-alert [type]="message.type" *ngIf="message" (close)="close()">{{ message.message }}</ngb-alert>
</p>

<div class="filter-wrapper row">
  <div class="input-group col">
    <mat-form-field appearance="fill">
      <mat-label>Select leave type</mat-label>
      <select matNativeControl (change)="dropDownChange($event, 'leave-type')">
        <option  value="-1">All Leave Type</option>
        <option *ngFor="let item of LeaveType" 
        value="{{item.id}}">{{item.name}}</option>
      </select>
    </mat-form-field>
  </div>

  <div class="input-group col">
    <mat-form-field appearance="fill">
      <select matNativeControl (change)="dropDownChange($event, 'leave-time')">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
        <option value="Fullday">Fullday</option>
      </select>
    </mat-form-field>    
  </div>

  <div class="input-group col">
    <mat-form-field appearance="fill">
      <input matInput type="date"
             placeholder="Enter leave date" (change)="onChangeDatesEvent($event)">
    </mat-form-field>
  </div>
</div>

<a [routerLink]="['/leave-request-create']" class="btn btn-link">Create Leave Request</a>

<table class="booking-table table table-striped">
  <tr>
    <th>Name</th>
    <th>Leave Date</th>
    <th>AM/PM/All day</th>
    <th>Leave Type</th>
    <th>Reason</th>
    <th></th>
  </tr>

  <tr *ngFor="let item of leaves" id="{{item.id}}">
    <td>{{item.name}}</td>
    <td>{{item.leaveDates | date}}</td>
    <td>{{item.leaveTime}}</td>
    <td>{{item.leaveType}}</td>
    <td>{{item.reason}}</td>
    <td>
      <button (click)="delete(item.id)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>
